fastapi==0.104.1
uvicorn[standard]==0.24.0
requests==2.31.0
beautifulsoup4==4.12.2
python-dotenv
google-generativeai
numpy>=1.24.3
websockets==12.0
rank-bm25==0.2.2
motor
pymongo==4.9.2
firebase-admin
pyrate-limiter
httpx
PyGithub
playwright
tree-sitter
tree-sitter-python
tree-sitter-javascript
tree-sitter-java
asyncio
